<app-nav-bar></app-nav-bar>

<div class="container entry-content swing-in-top-fwd">

  <div class="row">
    <div class="col">
      <div class="mt-4">
        <h2 style="font-style: italic;"> <span class="material-icons">
            label
          </span> Agregar nueva categoria</h2>
      </div>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-body rounded mt-5">
    <div class="card-body">
      <form>
        <label>Nombre de la categoria</label>
        <input [(ngModel)]="newCategory.nombre" type="text" class="form-control" name="titulo">

        <button (click)="NuevaCategoria(newCategory)" class="btn btn-primary mt-3 col"><a style="font-size: 25px;">Guardar </a><span class="material-icons">
            post_add
          </span>
        </button>

      </form>

    </div>
  </div>
</div>