<div class="form-usuario">

    <div class="contenedor-form sombra-dark swing-in-top-fwd">
        <h1>Crear una cuenta</h1>

        <form name="formRegistro" [formGroup]="formRegistro">

            <div class="form-group field">
                <input [class.is-invalid]="formRegistro.get('nombre').touched && formRegistro.get('nombre').invalid"
                    class="form-control" type="text" placeholder="Nombre" formControlName="nombre" />
            </div>

            <div class="form-group field">
                <input
                    [class.is-invalid]="formRegistro.get('apellidos').touched && formRegistro.get('apellidos').invalid"
                    class="form-control" type="text" placeholder="Apellidos" formControlName="apellidos" />
            </div>

            <div class="form-group field">
                <input [class.is-invalid]="formRegistro.get('email').touched && formRegistro.get('email').invalid"
                    class="form-control" type="email" placeholder="Correo" formControlName="email" />
            </div>

            <div class="form-group field">
                <input [class.is-invalid]="formRegistro.get('password').touched && formRegistro.get('password').invalid"
                    class="form-control" type="password" placeholder="Contraseña" formControlName="password" />
                <!-- <div *ngIf ="userControl.password.invalid && (userControl.password.dirty || userControl.password.touched)"> -->
                <label *ngIf="false">la contraseña debe tener minimo 8 caracteres</label>
                <!-- </div> -->
            </div>

            <div class="form-group field">
                <input
                    [class.is-invalid]="formRegistro.get('passwordRepeat').touched && formRegistro.get('passwordRepeat').invalid"
                    class="form-control" type="password" placeholder="Repetir Contraseña"
                    formControlName="passwordRepeat" />
            </div>

        </form>

        <div class="form-group">
            <button type="submit" (click)="registrarce()" class="btn btn-primary btn-block submit">Registrarte</button>
        </div>

        <p class="enlace-cuenta" routerLink="/"> ¿Ya tienes cuenta? <strong>Inicia Sesión</strong> </p>
    </div>
</div>