.form-usuario {
    background-color: #2f3848;
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: #ffffff;
    border-radius: 1rem;
}
.sombra-dark {
    -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  }
  h1{
    font-family: 'Relway', sans-serif;
    font-weight: 900;
    margin: 0 0 4rem 0;
    text-align: center;
    color: #2f3848;
  }
  .enlace-cuenta {
    width: fit-content;
    display: block;
    opacity: .7;
  }
  .enlace-cuenta:hover {
    cursor: pointer;
    text-decoration: underline #2f3848
  }
  .campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.submit{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: .5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #2f3848;
    color: #ffffff;
    transition: background-color .3s ease ;

}

  
.field{
display: flex;
        
}
.field label{
      flex: 0 0 100px;
      font-family: 'Roboto', sans-serif;
    }
  .field input[type="password"],
  .field input[type="email"],
  .field input[type="text"] {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    flex: 1;
  }

  .swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) alternate both;
            animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) alternate both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2021-4-21 22:1:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
