<!-- 
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="">Blog</a>
  
    <ul class="navbar-nav " *ngFor="let link of Links">

      <li  class="navbar-nav nav-item ">
        <a class="nav-link"  routerLink="{{link.url}}">{{link.name}} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  
    
  </nav> -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar bg-light">
    <div class="container-fluid">
    <a class="navbar-brand"> <MARQUEE>Blog OMB</MARQUEE> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" *ngFor="let link of Links">
        <li  class="navbar-nav nav-item ">
            <a class="nav-link"  routerLink="{{link.url}}">{{link.name}} <span class="sr-only">(current)</span></a>
          </li>
      </ul> 
    </div>
    <ul class="navbar-nav" style="cursor: pointer;">
      <li  class="navbar-nav nav-item "  >
          <a class="nav-link" (click)="cerrarSesion()">Cerras sesión</a>
        </li>
    </ul> 
    </div>   
  </nav>