<div class="usuario">
    <div class="contenedor-form sombra-dark tilt-in-fwd-tr">
        <h1>Iniciar Sesión</h1>
        <form [formGroup]='formLogin'>

            <div class="form-group field">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email" formControlName="email"
                    [class.is-invalid]="formLogin.get('email').touched && formLogin.get('email').invalid">

            </div>

            <div class="form-group field">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    formControlName="password"
                    [class.is-invalid]="formLogin.get('password').touched && formLogin.get('password').invalid">
            </div>


            <div class="form-group">
                <button type="submit" (click)="IniciarSecion()" class="btn btn-primary btn-block submit">Entrar</button>
            </div>
        </form>
        <p class="enlace-cuenta roll-in-left" routerLink="/create-account">¿No tienes cuenta? <strong>Registrate!</strong></p>

    </div>

</div>