<app-nav-bar></app-nav-bar>

<div class="posts-container">
    <div class="posts-search">
        <form class="form-inline">
            <input [disabled]="show" [(ngModel)]="busqueda" name="busqueda" class="form-control mr-sm-2" type="search"
                placeholder="Buscar titulo" aria-label="Search">
            <button *ngIf="!show" (click)="buscar(busqueda)" class="btn btn-outline-dark my-2 my-sm-0"
                type="submit">Buscar </button>
            <span *ngIf="show" (click)="cancelar()" class="material-icons cancelar">
                highlight_off
            </span>

        </form>
    </div>
    <div class="crearfix"></div>

    <div *ngIf="PostList.length> 0; else isListEmty" class="container posts-content shadow p-3 mb-5 bg-body rounded">
        <div class="single-post" *ngFor="let post of PostList">
            <div class="card mt-4">
                <div class="card-body">
                    <h3>{{post.titulo}}</h3>
                    <div>
                        <div style="float: left;">
                            <p>Categoria: <span class="author">{{post.categoria}}</span></p>
                        </div>
                        <br /> <br />
                        <div style="float: left;">
                            <p>Autor: <span class="author">{{post.nombreUser}}</span></p>
                        </div>
                        <div style="float: right;margin-top: -10px;">
                            <p class="date">Publicado el dia: <span class="author">{{post.fecha}}</span></p>
                        </div>
                    </div>
                    <div class="crearfix"></div>
                    <div class="content-body-post">

                        {{post.descripcion}}
                    </div>
                </div>
                <div class="actions">
                    <div class="options">

                        <div class="container" *ngIf="post.showComments">

                            <div class="card shadow p-1 mb-3 bg-body rounded mt-2" style="width: 90%;">
                                <div class="card-body">
                                    <div class="comments">
                                        <div>
                                            <form class="form-inline comments" style="width: 480px;">
                                                <textarea style="max-height: 100px;"
                                                    class="form-control mr-sm-2 comment-section"
                                                    placeholder="Escribe un comentario..."
                                                    [(ngModel)]="newComment.comentario" name="comment"></textarea>


                                            </form>
                                        </div>
                                        <div><button class="form-control btn btn-outline-primary"
                                                (click)="SendComment(newComment,post.id)" type="button">Añadir
                                            </button></div>

                                    </div>

                                </div>
                            </div>
                        </div> 
                        
                        <div>
                            <button class="option" type="button" (click)="comentarPrueba(post.id)"> <span
                                class="material-icons">comment</span>Comentar</button>
                        </div>


                    </div>
                </div>



                <h4 class="ml-3">Comentarios <span class="badge badge-secondary">{{post.comentarios.length}}</span></h4>
                <div class="container mb-3" *ngFor="let comentario of post.comentarios">

                    <div class="card-body"
                        style="border: 2px solid  rgba(228, 227, 227, 0.651);width:70%;margin: 0 auto;">

                        <div style="float: right;margin-top: -10px;">
                            <p class="date">Comentado el dia: <span class="author">{{comentario.fecha}}</span></p>
                        </div>

                        <div class="crearfix"></div>
                        <div class="content-body-post">
                            -{{comentario.nombre_usuario}}- : {{comentario.comentario}}
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <ng-template #isListEmty>
        <div *ngIf="busqueda !='' " class="ListEmty">
            <h2>" No se encontraron resultados para {{busqueda}} "</h2>
        </div>
    </ng-template>
</div>