.posts-container{
    
    height: fit-content;
    /* border: 1px solid red; */
    display: block;
}

.crearfix{
    clear: both;
    float: none;
}
.content-body-post{
    font-weight: 500; 
    border-top: 3px solid rgba(228, 227, 227, 0.651);
    border-bottom: 3px solid rgba(228, 227, 227, 0.651);
    padding: 10px;
}




.posts-search{
    display: block;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-right: 10px;
    float: right;

}
.posts-content{
    margin-top: 4rem;
    display: block;
    /* border: 1px solid green; */
    margin-bottom: 10px;
}

.actions{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
.options{
    width: 100%;
    float: right;
    display: flex;

}
.option{
    margin-right: 20px;
    border: none;
    background-color: transparent;

}
.author{
    font-weight: bold;
    text-decoration: underline black;
}
.date{
    margin-top: 10px;
}
.comment-section{
    width: 100%;
}
.btn-comment{
    width: 110px;
    height: 50px;
}
.cancel{
    margin-right: 30px;
    cursor: pointer;
    font-size: 12px;
}
.comments{
    display: flex;
}
.ListEmty{
    text-align: center;
    margin-top: 30px;
    font-family: cursive;
}
.cancelar{
    cursor: pointer;
    color: red;
    font-size: 35px;
}