<app-nav-bar></app-nav-bar>

<div class="container entry-content swing-in-top-fwd">

  <div class="row">
    <div class="col">
      <div class="mt-4">
        <h2 style="font-style: italic;"> <span class="material-icons">
            label
          </span> Crear nuevo post</h2>
      </div>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-body rounded mt-5">
    <div class="card-body">
      <form [formGroup]="formPost">
        <label>Titulo</label>
        <input type="text" class="form-control" name="titulo" formControlName="titulo" >

        <label>Categoria</label>

        <select class="form-control" name="categorias" formControlName="categoria" >
          <!-- <option value="Entretenimiento">Entretenimiento</option> -->
          <option *ngFor="let categoria of categorias" ng value="{{categoria.id}}"  >{{categoria.nombre}}</option>
        </select>

        <label>Descripcion:</label>
        <textarea  formControlName="descripcion" class="form-control" cols="30" rows="10"></textarea>

        <button (click)="publicarPost()" class="btn btn-primary mt-3 col"><a style="font-size: 25px;">Publicar </a><span class="material-icons">
            post_add
          </span>
        </button>

      </form>

    </div>
  </div>
</div>